body {
    height: 29.7cm;
    width: 21cm;
    border: 1px solid #000; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    border-bottom: 1px solid #999;
    margin: 45px 40px;
}

ul {
    list-style-type: none;
    padding: 0;
}

div {
    overflow: auto;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

p {
    color: #333;
    line-height: 120%;
}

h1 {
    font-size: 2.5em;
}

h2 {
    border-bottom: 2px solid #000;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 2em;
}

header li:first-child {
    width: 40%;
    float: none;
}
header li {
    width: 20%;
    display: inline-block;
}

.outer--wrap {
    overflow: auto;
    margin: 0 40px;
}

.left {
    width: 35%;
    float: left;
    overflow: auto;
}

.left > div,
.right > div {
    margin-bottom: 25px;
}

.right {
    width: 60%;
    float: right;
    overflow: auto;
}

.work--history {
    width: 100%;
    overflow: auto;
}

.experience {
    overflow: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #999;
    margin-bottom: 20px;
}

.experience:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.name {
    width: 33%;
    float: left;
}

.name p {
    font-size: 14px;
}

.description {
    width: 65%;
    float: right;
}

.description h3 {
    font-weight: normal;
}